*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

h1{
    color:navy;
}

p1{
    color: green;
    text-decoration: underline;
    font-size: 20px;
}

p2{
    font-weight: bold;
}